@import "tailwindcss";

@font-face {
    font-family: 'playfair';
    src: url('/fonts/Barlow-Regulas') format('woff2');
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Poppins-Regular') format('woff2');
}

:root {
    --color-latar: #f3f4f6;
    --color-teks: #374151; 
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb; 
    --color-hijau: #00B074; 
    --color-merah: #ef4444; 
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b; 

    --font-playfair: 'playfair', sans-serif;
    --font-roboto: 'roboto', sans-serif;
}